@import url('fonts/fonts.css');


:root {
    --brownish-grey: #6b6b6b;
    --azure: #1797ff;
    --navy-12: rgba(0, 21, 41, 0.12);
    --spacing-xxs: 0.25rem;
  }

/*GLOBALES*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: Roboto;
}

/*Estilo a la pagina entera*/
.body{
  width: 100%;
  height: 64rem;
  padding: 0 0 6.125rem;
  background-color: #fcfcfc;
}

/*Styles header y titulo*/
.header{
    width: 100%;
    height: 7.125rem;
    padding: 2.75rem 65.625rem 2.625rem 9.375rem;
    box-shadow: 0 1px 4px 0 var(--navy-12);
    background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
}
.HACKER-NEWS {
    width: 13rem;
    height: 1.75rem;
    object-fit: contain;
}

/* styles/Navbar.css */
.navbar {
  display: flex;
  justify-content: center;
  padding: 4rem 0;
}

.navbar div {
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 2px;
  border: solid 1px;
}

.active {
  border: solid 1px var(--azure);
  color: var(--azure);
  border-radius: 2px;
  font-weight: bold;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
